numpy>=1.20.0
pandas>=1.3.0
scipy>=1.7.0
lightgbm>=3.3.0
scikit-learn>=1.0.0
matplotlib>=3.4.0
python-telegram-bot>=20.0
nsepython>=1.0.0
flask>=2.0.0
gunicorn>=21.2.0
fqdn==1.5.1
gdown==5.2.0
isoduration==20.11.0
langchain-experimental==0.3.4
langchain-openai==0.3.33
notebook==7.4.5
plotly==6.3.0
PySocks==1.7.1
rfc3987-syntax==1.1.0
streamlit==1.50.0
tinycss2==1.4.0
Unidecode==1.4.0
uri-template==1.3.0
watchdog==6.0.0
webcolors==24.11.1
